aegntic-MCP/src/workflows/templates/mcp_monitoring.json
{
  "name": "MCP Server Monitoring",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minuteInterval": 5
            }
          ]
        }
      },
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://mcp-server:9100/health",
        "authentication": "none",
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.status === 'ok' }}",
              "value2": true
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "subject": "MCP Server is healthy",
        "content": "=## MCP Server Status\n\nThe MCP Server is running correctly.\n\n**Details:**\n- Status: {{ $node[\"HTTP Request\"].json.status }}\n- Version: {{ $node[\"HTTP Request\"].json.version }}\n- Checked at: {{ $now }}"
      },
      "name": "Send Email (Success)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {
        "subject": "ALERT: MCP Server is DOWN",
        "content": "=## MCP Server Status Alert\n\nThe MCP Server is not responding correctly!\n\n**Details:**\n- Error: {{ $node[\"HTTP Request\"].json.error }}\n- Checked at: {{ $now }}\n\nPlease check the server immediately."
      },
      "name": "Send Email (Failure)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        850,
        400
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Send Email (Success)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email (Failure)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    "monitoring"
  ],
  "id": "workflow_mcp_monitoring"
}
